.title {
    position: relative;
    width: 375px;
    height: 54px;
    line-height: 54px;
    text-align: center;
}

.title p {
    font-size: 18px;
    font-weight: bold;
}

.reset {
    position: absolute;
    top: 0px;
    right: 14px;
}